{% extends 'base.html.twig' %}

{%  block title %} HSP - Accueil{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div style="text-align: right">
            <a class="btn btn-primary btn-lg float-right" href="connexion" role="button">Connexion</a>
        </div>
        <div class="jumbotron" style="text-align: center">
            <h1 class="display-4">Bienvenue sur <br> <span style="color: #1aa990">H</span>armony <span style="color: #1aa990">S</span>cheduler <span style="color: #1aa990">P</span>ro</h1>
            <p class="lead">Harmony Scheduler Pro (HSP) est une application permettant de mettre <br>
                en relation des étudiants et des représentant d'hôpitaux partenaires</p>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application ou connectez vous</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="inscriptionEtudiant" role="button">Inscription Étudiant</a>
                <a class="btn btn-primary btn-lg" href="inscriptionRepresentant" role="button">Inscription Représentant d'hôpital</a>
            </p>
        </div>
    </div>
{% endblock %}