<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HSP{% endblock %}</title>
</head>
<body>
<h1>Demande de {{ contact.prenom ~' '~ contact.nom}}</h1>

<p>Email : {{ contact.email }}</p>
<p>Sujet : {{ contact.subject }}</p>
<p>Message :</p>
<div>
    {{ contact.message|raw }}
</div>
</body>
</html>
