{% extends 'base.html.twig' %}

{% block title %} HSP - Inscription Étudiant {% endblock %}

{% block body %}
    <div class="container">
        <div class="card mt-4">
            <h1 class="card-header text-center">Formulaire d'inscription étudiant</h1>
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
