{% extends 'base.html.twig' %}

{% block title %}HSP - Contact{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        <div class="border p-4">
            <h1 style="text-align: center">Formulaire de contact</h1>
            <hr class="my-4">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
