{% extends 'base.html.twig' %}

{% block title %}HSP - Accès refusé{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron" style="text-align: center">
            <h1 class="display-4">L'accès vous a été refusé</h1>
            <hr class="my-4">
            <p class="lead">Votre compte n'à pas encore été validé par un administrateur de la plateforme</p>
            <p>Merci de patienter jusqu'à la vérification de votre compte afin de pouvoir utiliser nos services</p>
        </div>
    </div>
{% endblock %}
